* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, sans-serif;
    background-color: #fff;
    color: #333;
}

/* Navigation Bar */
header {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ffffff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-icons a {
    margin-left: 20px;
}

.nav-icons img {
    width: 20px;
    height: 20px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f8f8f8;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: bold;
}

.hero-text p {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.hero-image img {
    width: 1000px;
}

/* New Arrivals Section */
.new-arrivals {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.new-arrivals h3 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.more-link {
    float: right;
    color: #000;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.product p {
    margin: 10px 0;
}

.product .brand {
    font-weight: bold;
}

.product .price {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.hero 

